.bo-editable(ng-class="{ _active: boEditableVm.showValue, _multiline: boEditableVm.multiline }",
  click-outside="boEditableVm.decline()")
  span.bo-editable__value.no-animate {{ boEditableVm.value }}
  input.bo-editable__input.no-animate(ng-if="!boEditableVm.multiline", type="text", ng-trim="false",
    ng-change="boEditableVm.resizeInput()", ng-model="boEditableVm.value",
    placeholder="{{ boEditableVm.placeholder }}", maxlength="{{ boEditableVm.maxLength }}",
    on-enter="boEditableVm.accept()")
  textarea.bo-editable__input.no-animate(ng-if="boEditableVm.multiline", ng-trim="false",
    placeholder="{{ boEditableVm.placeholder }}", ng-model="boEditableVm.value",
    on-enter="boEditableVm.accept()")
  span.bo-editable__size
  i.material-icons.bo-editable__edit(ng-click="boEditableVm.toggleState()") create
  i.material-icons.bo-editable__accept(ng-click="boEditableVm.accept()") done
