table.bo-users__table
    thead
      tr
        th №
        th Фото
        th Имя пользователя
        th Тип пользователя
        th Логин
        th Время создания
        th Операции
    tbody
      tr(ng-repeat="user in accessVm.users.users")
        td {{ $index + 1 }}
        td
            img.bo-users__image._small(src=require('images/nophoto.png') ng-if="!user.image")
            img.bo-users__image._small(ng-src="{{ member.image }}" ng-if="user.image")
        td {{ user.name }}
        td {{ accessVm.users.status[user.status] }}
        td {{ user.login }}
        td {{ user.creationDate | date : 'd.MM.yyyy' }}
        td
            button.bo-users__btn.button.success Edit
            button.bo-users__btn.button.success Delete
