.row.bo-content
  .bo-wrapper
    .bo-wrapper__content
      a(ui-sref="backoffice").bo-wrapper__back
        i.material-icons arrow_back
      h2.bo-wrapper__title
        bo-editable(initial-value="vm.game.name", placeholder="Название игры", max-length="255", on-change="vm.changeName($value)")
        i.small-1.columns.material-icons.bo-game-status {{ vm.game.interface ? 'lock_open' : 'lock_outline' }}
      .bo-game
        .bo-game__control
          .row
            .small-2.columns Создана: {{ (vm.game.creationDate * 1000) | date : 'd.MM.yyyy' }}
            .small-2.columns
              img(src=require('images/nophoto.png') ng-if="!vm.game.creator.image").bo-game__creator-image
              img(ng-src="{{ ::vm.game.creator.image }}" ng-if="vm.game.creator.image").bo-game__creator-image
              |{{ vm.game.creator.login }}
            .small-4.columns
              div
                bo-editable(initial-value="vm.game.description", on-change="vm.changeDescription($value)",
                placeholder="Описание игры", max-length="100", multiline="true")
            .small-4.columns
              .row
                .small-7.columns.text-right(ng-if="vm.gameRaw.interface")
                  .button.small._with-icon.warning.hollow(ng-click="vm.toggleInterface()",
                   ng-class="{ disabled: vm.game.period < 1 }")
                    i.material-icons lock_outline
                    span Заблокировать
                .small-7.columns.text-right(ng-if="!vm.gameRaw.interface")
                  .button.small._with-icon.warning.hollow(ng-click="vm.toggleInterface()",
                   ng-class="{ disabled: vm.game.period < 1 }")
                    i.material-icons lock_open
                    span Разблокировать
                .small-5.columns.text-right
                  .button.small._with-icon.primary.hollow(ng-click="vm.fork()",
                  ng-class="{ disabled: vm.game.period < 1 }")
                    i.material-icons content_copy
                    span Скопировать
        .bo-game__lifecycle-wrapper
          a(href="#bo-carousel-lifecycle" data-direction="-1").bo-slider-control._left
            i.material-icons chevron_left
          a(href="#bo-carousel-lifecycle" data-direction="1").bo-slider-control._right
            i.material-icons chevron_right
          bo-carousel.bo-game__lifecycle#bo-carousel-lifecycle
            .bo-game__section.bo-game__section
              .bo-game__section__steps
                .bo-game__step._complete._prepare
                  .bo-game__step__number
                    |Шаг 1
                    i.bo-game__step-status._approve.material-icons check_circle
                  .bo-game__step__title
                    .bo-game__step__name Игра создана
                    .button.bo-game__step__action(ng-click="vm.showSetup('start')") Сбросить
                  progressbar(max="100" value="100")
                  .bo-game__step__type Подготовка
                .bo-game__step(ng-class="{ _complete: vm.isFormedTeams() }")._prepare
                  .bo-game__step__number
                    |Шаг 2
                    i.bo-game__step-status._approve.material-icons check_circle
                    i.bo-game__step-status.material-icons error
                  .bo-game__step__title
                    .bo-game__step__name Формирование команд
                    .button.bo-game__step__action(ng-click="vm.showSetup('commands')") Настроить
                  .bo-game__step__notice {{ vm.teams.length }}к. {{ vm.game.membersIds.length }}уч.
                  progressbar(max="100" value="0")
                .bo-game__step(ng-class="{ _complete: vm.hasScenario() }")._prepare
                  .bo-game__step__number
                    |Шаг 3
                    i.bo-game__step-status._approve.material-icons check_circle
                    i.bo-game__step-status.material-icons error
                  .bo-game__step__title
                    dropdown-toggle(close-on-click="true").bo-game__choose-scenario
                      toggle
                        a.dropdown.button.small.hollow(ng-class="{ disabled: vm.game.period > 0 }")
                          |{{ !!vm.game.scenario ? vm.game.scenario.name : 'Выберите сценарий' }}
                      pane
                        ul.menu.vertical
                          li(ng-repeat="scenario in vm.scenarios" ng-if="scenario.id !== vm.game.scenarioId")
                            a(ng-click="vm.changeScenario(scenario);$close()") {{ scenario.name }}
                  progressbar(max="100" value="0")
                .bo-game__step(ng-class="{ _available: vm.canCalc(), _complete: vm.game.period > 0 }")._prepare
                  .bo-game__step__number
                    |Шаг 4
                    i.bo-game__step-status._approve.material-icons check_circle
                    i.bo-game__step-status.material-icons error
                  .bo-game__step__title(ng-if="vm.game.period === 0")
                    .bo-game__step__name Начать игру
                    .button.bo-game__step__action(ng-class="{ disabled: !vm.canCalc() }", ng-click="vm.startCalc()") Начать!
                  .bo-game__step__title(ng-if="vm.game.period !== 0")
                    .bo-game__step__name Игра начата
                    .button.bo-game__step__action(ng-click="vm.showSetup('start')") Сбросить
                  progressbar(max="100" value="vm.startProgress")
                .bo-game__step(ng-repeat="step in vm.game.lifecycle", class="{{ '_' + step.type.id }}"
                ng-switch="step.type.id", ng-class="{ _first: step.first,  _complete: step.type.id === 'past', _available: (step.period === vm.game.period || vm.canCalc()) && step.type.id != 'future' }")
                  .bo-game__step__number Шаг {{ step.period + 4 }}
                    i.bo-game__step-status._approve.material-icons check_circle
                    i.bo-game__step-status.material-icons error
                  .bo-game__step__title(ng-switch-when="present")
                    .bo-game__step__name {{ step.name }}
                    .button.bo-game__step__action.alert.no-animate(ng-click="vm.finishGame()" ng-if="!vm.gameRaw.finished") Завершить
                    .button.bo-game__step__action.no-animate(ng-click="vm.resumeGame()" ng-if="vm.gameRaw.finished") Продолжить
                  .bo-game__step__title(ng-switch-when="present-future")
                    .bo-game__step__name {{ step.name }}
                    .button.success.bo-game__step__action(ng-class="{ disabled: !vm.canCalc() || vm.isCalculating }" ng-click="vm.startCalc(step.period)") Расчитать
                  .bo-game__step__title(ng-switch-default) {{ step.name }}
                  progressbar(max="100" value="step.progress")
                  .bo-game__step__type(ng-if="step.first") {{ step.type.name }}
        .bo-game__setup(ng-if="vm.currentSetup != ''")
          .bo-game__setup__angle
          .bo-game__setup__content(ng-class="{ 'bo-game__setup__content--active': vm.currentSetup === 'start' }")
            .row
              .small-1.column
                .switch.tiny
                  input.switch-input(type="checkbox", id="input_switch_command", ng-model="vm.isSaveTeams")
                  label.switch-paddle(for="input_switch_command")
              .small-5.column Сохранить настройки состава команд
            .row
              .small-1.column
                .switch.tiny
                  input.switch-input(type="checkbox" id="input_switch_scenario", ng-model="vm.isSaveScenario")
                  label.switch-paddle(for="input_switch_scenario")
              .small-5.column Сохранить выбранный сценарий
            .row
              .small-1.column
                .switch.tiny(ng-class="{ disabled: !vm.isSaveTeams || !vm.isSaveScenario }")
                  input.switch-input(type="checkbox" id="input_switch_start-game",
                  ng-model="vm.isCalcOnReset", ng-disabled="!vm.isSaveTeams || !vm.isSaveScenario")
                  label.switch-paddle(for="input_switch_start-game")
              .small-5.column Начать игру
            .row
              .column
                small.button(ng-click="vm.resetGame(vm.isSaveScenario, vm.isSaveTeams, vm.isCalcOnReset)") Сбросить игру
          .bo-game__setup__content(ng-class="{ 'bo-game__setup__content--active': vm.currentSetup === 'commands' }")
            h4 Команды
            teams
