.bo-team {
  transition: all 5s, box-shadow ease-in .3s, width .7s, height .7s;
  &:hover {
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, .4);
  }
  &__info {
    transition: opacity .7s;
  }
  &__extended-info {
    transition: opacity .7s
  }
}

.bo-modal {
  &__reveal {
    &._fade {
      opacity: 0;
      transition:         transform .3s ease-out;
      transform: translate(0, -25%);
    }
    &._in {
      transform: translate(0, 0);
    }
    &._fade.bo-modal__reveal._in {
      opacity: 1;
    }
  }
  &__bg {
    ._fade {
      opacity: 0;
      transition: opacity .15s linear;
      filter: alpha(opacity=0);
    }
    &._in {
      transform: translate(0, 0);
      opacity: .5;
    }
  }
}

.progress .progress-meter {
  transition: width .5s;
}

.bo-member {
  transition: all .1s;
}
