.bo-access {
  &__image._small {
    width: $small-size-img;
    height: $small-size-img;
  }

  &__btn {
    margin: 0 1rem 0 0 !important;
  }
  &__search {
    display: flex;
    align-items: center;
  }
  &__input-search {
    margin: 0 1rem;
  }
}
