.bo-add-members {
  &__control {
    input {
      margin-bottom: 5px;
    }
    margin-bottom: 15px;
  }
  &__sort span {
    margin-right: 10px;
  }
  &__sort-title {
    color: #424242;
  }
  &__sort-btn {
    cursor: pointer;
    border-bottom: 1px dotted #212121;
  }
  &__sort-btn._active {
    cursor: default;
    border: none;
    color: #757575;
  }
}

.bo-add-users__list {
  margin: 0;
  li {
    position: relative;
    cursor: pointer;
    padding: 5px 0.9375rem;
    margin: 2px 0 !important;
    justify-content: space-between;
    .bo-add-users__image {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      flex-grow: 0;
    }
    .bo-add-users__name {

    }
    &:hover {
      background: #81C784;
      color: white;
    }
    &._in-game {
      background: #66BB6A;
      color: white;
    }
    &._master::before {
      @extend .material-icons;
      content: 'star';
      position: absolute;
      left: 6px;
      top: -2px;
      font-size: 18px;
      color: #FDD835;
    }
    &:hover .bo-add-users__date {
      display: none;
    }
    .bo-add-users__icon._remove, .bo-add-users__icon._in-game {
      display: none;
    }
    &:hover .bo-add-users__icon._in-game {
      display: inline-block;
    }
    &._in-game:hover .bo-add-users__icon._in-game {
      display: none;
    }
    &._in-game:hover {
      background: #FF8A65;
    }
    &._in-game:hover .bo-add-users__icon._remove {
      display: inline-block;
    }
  }
}
