.bo-editable {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-right: 45px;
  &:hover, &._active {
    background: #EEEEEE;
    margin-right: 0;
    .bo-editable__input {
      background: #F5F5F5 !important;
    }
  }
  &._multiline {
    width: 110%;
    .bo-editable__value {
      width: 90%;
    }
  }
  &__edit, &__accept {
    width: 45px;
  }
  &:hover:not(._active) {
    .bo-editable__edit {
      display: inline-block;
    }
  }
  &._active {
    .bo-editable__accept {
      display: inline-block;
    }
    .bo-editable__value {
      display: none;
    }
    .bo-editable__input {
      display: inline-block;
    }
  }
  &__size {
    visibility: hidden;
    position: absolute;
    left: -99999px;
    top: -999999px;
    white-space: pre;
  }
  &__value {
    padding: 0 10px;
  }
  &__input {
    display: none;
    color: inherit;
    background: none;
    border: none !important;
    box-shadow: none !important;
    font-size: inherit;
    margin: 0;
    padding: 0 10px;
    width: auto;
    box-sizing: content-box;
    height: auto;
    line-height: inherit;
  }
  textarea.bo-editable__input {
    width: 90%;
    resize: none;
    height: 100%;
  }
  .material-icons {
    cursor: pointer;
    display: none;
    padding: 0 10px;
    color: #9E9E9E;
  }
}
