.bo-members {
  margin: 40px 0 0 0;
  display: flex;
  &__list {
    display: flex;
    width: 100%;
    position: relative;
    &::before, &::after {
      content: '';
      height: 128px;
      position: absolute;
      background: #EEE;
      z-index: 1;
    }
    &::before {
      left: -50px;
      top: 0;
      width: 180px;
      box-shadow: 10px 0px 35px 5px #eeeeee;
    }
    &::after {
      right: -51px;
      width: 60px;
      top: 0;
      box-shadow: -10px 0px 35px 5px #eeeeee;
    }
  }
  &:hover .bo-slider-control {
    color: #bdbdbd;
  }
}

.bo-member {
  padding: 0 20px;
  text-align: center;
  max-width: 125px;
  width: 75px;
  box-sizing: content-box;
  flex-shrink: 0;
  cursor: pointer;
  &__image {
    width: 40px;
    height: 40px;
  }
  &__name {
    margin: 10px 0 0 0;
    font-size: 15px;
    line-height: 15px;
    color: #616161;
  }
  &__status {
    font-size: 11px;
    text-transform: uppercase;
    color: #7cb342;
  }
  &--add {
    z-index: 999;
    width: 81px;
    .bo-member__name {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
