.bo-modal {
  transition: 0.2s ease-in-out opacity;
  z-index: 9999999999;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  &__btn {
    margin: 0 0 0 1rem !important;
  }
  &__bg {
    background: rgba(0, 0, 0, 0.45);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1004;
  }
  &__reveal {
    display: block;
    visibility: visible;
    border-radius: 3px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1005;
    left: 0;
    background-color: #FFFFFF;
    padding: 1.875rem;
    border: solid 1px #666666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    &.ng-hide-add,
    &.ng-hide-remove{
      display: block !important;
    }
    &.ng-hide{
      -webkit-transform: scale(0.9);
      opacity: 0;
    }

    @media only screen and (max-width: 40em) {
      & {
        min-height: 100vh;
      }
    }
    @media only screen and (min-width: 40.0625em) {
      & {
        left: 0;
        margin: 0 auto;
        max-width: 62.5rem;
        right: 0;
        width: 80%;
      }
    }
    @media only screen and (min-width: 40.0625em) {
      & {
        top: 6.25rem;
        margin-bottom: 6.25rem;
      }
    }
    &._tiny {
      width: 30%;
      max-width: 80.5rem;
    }
    &._small {
      width: 50%;
      max-width: 75rem;
    }
    &._full {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      height: 100vh;
      min-height: 100vh;
      max-width: none;
      margin-left: 0;
      border: 0;
      border-radius: 0;
    }
  }
  &.ng-hide-add,
  &.ng-hide-remove{
    display: block !important;
  }

  &.ng-hide{
    opacity: 0;
  }

  &__close {
    font-size: 1.375rem;
    line-height: 1;
    position: absolute;
    top: 0.5rem;
    right: 0.6875rem;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
  }
}
