.bo-table {
  .bo-sort-order {
    opacity: .6;
  }
  th:hover .bo-sort-order {
    opacity: 1;
  }
  th:first-child, td:first-child {
    padding-left: 50px;
  }
  th:last-child, td:last-child {
    padding-right: 50px;
  }
  thead {
    background: transparent;
    color: #fff;
    font-weight: bold;
    th._sorted {
      cursor: pointer;;
    }
    tr {
      height: 65px;
      background: #233750;
    }
  }
  tbody {
    background-color: #f1f2f6;
    tr {
      border-top: 1px solid #d5d8dd;
      border-bottom: 1px solid #d5d8dd;
      height: 65px;
      color: #233750;
    }
    tr._clickable:hover {
      background: lighten(#233750, 60%);
      border-color: lighten(#233750, 60%);
    }
    .bo-table__control:not(._delete):hover {
      color: #fff !important;
    }
    tr._clickable:hover .bo-table__control:not(._delete) {
      color: #F5F5F5;
    }
  }
  tr._clickable {
    cursor: pointer;
  }
  &__control-wrapper:hover .bo-table__control {
    opacity: 1 !important;
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__column {

  }
}
