.bo-teams {
  &__list{
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }
}
.bo-team-wrapper {
  &._active {
    .bo-team {
      width: 465px;
      height: 365px;
      float: left;
    }
    .bo-team__info {
      opacity: 0;
    }
    .bo-team__extended-info {
      opacity: 1;
    }
  }
}
.bo-team {
  width: 200px;
  height: 200px;
  margin: 5px;
  position: relative;
  color: #FAFAFA;
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
  float: left;
  background: #6675b0;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .4);
  opacity: 1;
  &._delete {
    display: none;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center 0, #72a0b8 0%, #6675b0 100%);
    height: 100%;
  }
  * {
    position: relative;
    z-index: 1;
  }
  &__info {
    opacity: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    &__logo {
      width: 30px;
      height: 30px;
      position: relative;
      top: -7px;
      right: -7px;
    }
    &__number {
      text-transform: uppercase;
      flex: 0 0 auto;
      font-size: 12px;
      justify-content: space-between;
      display: flex;
    }
    &__name {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      flex-direction: column;
      text-align: center;
    }
    &__name span {
      line-height: 14px;
      padding-top: 5px;
    }
    &__members-count {
      flex: 0 0 auto;
      font-size: 14px;
    }
  }
  &__extended-info {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    &__wrapper {
      flex: 0 0 auto;
    }
    &__number {
      text-transform: uppercase;
      font-size: 12px;
    }
    &__name {
      font-weight: bold;
    }
  }
  &__members {
    flex: 1 0 auto;
    padding: 20px;
    margin: 10px 0 0 0 !important;
    background: rgba(255, 255, 255, .6);
    align-content: flex-start;
  }
  &__delete {
    flex: 0 0 auto;
    height: 24px;
    margin-bottom: -11px;
    margin-top: 2px;
    a {
      color: #fff;
    }
    a:hover {
      color: #E57373;
    }
  }
  &__member {
    display: flex;
    margin: 0 0 10px 0 !important;
    flex-shrink: 0;
    flex-grow: 0;
    &__image {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    &__name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #444;
      font-weight: bold;
      font-size: 14px;
    }
  }
  &._add-user {
    opacity: .5;
    &:before {
      content: none;
    }
    .bo-team__info__name span {
      padding: 6px 10px 6px 10px;
      margin-top: 6px;
      background: rgba(170,177,207,.5);
    }
  }
}
