.bo-modal(ng-show="modalVm.show")
    .bo-modal__reveal(ng-show="modalVm.show" ng-class="modalVm.getModalClasses()")
        ng-transclude
        a.bo-modal__close(ng-click="modalVm.hideModal()")
          |&#215;
    .bo-modal__bg(ng-click="modalVm.hideModal()")
